<div id="leaderboard-element">
	<br>
	<h1 class="ui header">Leaderboard</h1>
	<h1>{{stockQuote}}</h1>
	<!-- <table id="score-table" class="card-shadow ui very basic collapsing celled table">
		<thead>
			<tr>
				<th>#</th>
				<th>Team</th>
				<th>Punten</th>
			</tr>
		</thead>
		<tbody *ngIf="teams$ | async as scores">
			<tr *ngFor="let score of teams$; let i = index">
				<td>#{{i + 1}}</td>
				<td>
					{{score.team_name}}
				</td>
				<td>
					&euro; {{scores.team_score | pointReplacer: '1.' }}
				</td>
			</tr>
		</tbody>
	</table> -->
</div>