<footer>
	<div class="menu">
		<div class="menu-item" id="home" routerLink="/home" routerLinkActive="selected">
			<p class="menu-text">
				<i class="fas fa-home"></i>
			</p>
		</div>
		<div class="menu-item" id="route" routerLink="/location" routerLinkActive="selected">
			<p class="menu-text">
				<i class="fas fa-map-marked"></i>
			</p>
		</div>
		<div class="menu-item" id="leaderboard" routerLink="/leaderboard" routerLinkActive="selected">
			<p class="menu-text">
				<i class="fas fa-list-ol"></i>
			</p>
		</div>
		<div class="menu-item" id="settings" routerLink="/settings" routerLinkActive="selected">
			<p class="menu-text">
				<i class="fas fa-cog"></i>
			</p>
		</div>
	</div>
</footer>