.menu{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: var(--sec-bg-color);
    box-shadow: .5px 0px 5px .1px var(--shadow-color);
    z-index: 100;

    display: flex;
}
.menu-item{
    width: 25%;
    height: 50px;
}
.menu-text{
    display: table;
    margin: 0 auto;
    line-height: 50px;
    font-size: 20px;
    color: var(--text-color);
}
.selected{
    background-color: var(--sec-bg-color);
	filter: brightness(97%);
}

.selected p {
	color: var(--button-icon-color-selected);
}