#homepage{
    width: 100%;
    margin-top: 60px;
}
.card{
    width: 95%;
    margin-left: 2.5%;
}
.bottom{
    position: absolute;
    width: 100%;
    bottom: 60px;
}
.btn{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
}
#team-pin-text{
    font-size: 13px;
}