<div class="screen">
    <div id="error_message" class="ui negative message transition hidden">
      <div class="header">
        Kan niet inloggen
      </div>
      <p>Het lijkt erop dat je niet alle velden hebt ingevult</p>
    </div>
  <div id="login-element">
    <h2>INTRO TOUR</h2><br>
      <div class="ui massive input" id="name_input">
        <input  [(ngModel)]="name" type="text" placeholder="Naam" name="name" required maxlength="20" autofocus>
      </div><br>
      <div>
        <input type="button" class="massive one ui blue button" value="Maak een Team" (click)="goToPage('team-create')">
      </div><br>
      <div>
        <input type="button" class="massive one ui teal button" value="Join een Team" (click)="goToPage('team-join')">
      </div>
  </div>
</div>