<agm-map [latitude]="curLocation.x" [longitude]="curLocation.y" [zoom]="z" [streetViewControl]="false" [zoomControl]="false">
	<agm-marker [latitude]="curLocation.x" [longitude]="curLocation.y" [iconUrl]="icons[0]"></agm-marker>
	<agm-marker *ngFor="let location of locations" [latitude]="location.latitude" [longitude]="location.longitude"
	 [iconUrl]="icons[location.map_icon]" id="{{location.id}}">
		<agm-circle [latitude]="location.latitude" [longitude]="location.longitude" [radius]="location.radius.data"></agm-circle>
		<agm-info-window *ngIf="arePointsNear(location) && location.map_icon == 1">
			<p><span class="info-window-title">{{location.name}}</span>
				<br><b>{{location.description}}</b><br>
				<br>Je bent in de buurt van de vraag
				<br>klik op de knop om het event te openen
				<br>voor <b>{{location.points}}</b> punten
			</p>
			<button *ngIf="showOpenQuestionButton" class="q-open-btn small green ui button" (click)="showWindow(location)">OPEN</button>
		</agm-info-window>
		<agm-info-window *ngIf="!arePointsNear(location) && location.map_icon == 1">
			<p><span class="info-window-title">{{location.name}}</span>
				<br><b>{{location.description}}</b><br>
				<br>Je bent niet in de buurt
				<br>kom hier heen om het event te doen
				<br>voor <b>{{location.points}}</b> punten
			</p>
		</agm-info-window>
		<agm-info-window *ngIf="location.map_icon == 2">
			<p><span class="info-window-title">{{location.name}}</span>
				<br><b>{{location.description}}</b><br>
				<br>Je hebt dit event al gedaan
				<br>Je hebt voor dit event <b>{{location.points}}</b> punten gekregen
			</p>
		</agm-info-window>
	</agm-marker>
</agm-map>

<!-- question windows -->
<div *ngFor="let location of locations">
	<div id="popup-{{location.id}}" class="question-pop-up">
		<div class="question-popup-content" *ngIf="question != undifined">
			<form (ngSubmit)="checkAnswer(location.id)">
				<p class="q-title"><span>{{timeRemaining | minutesSeconds}}</span> | {{question.question}}</p>
				<p class="q-points">{{location.points}} punten</p>
				<p class="q-options" *ngFor="let answer of question.answers"><input type="radio" name="answer" (click)="setValue(answer.right_answer)">
					{{answer.answer}}.</p>
				<button type="submit" class="big one ui green button btn">Controleer</button>
			</form>
			<div class="q-hint" id="hint-box-{{location.id}}">
				<p>{{hint.hint}}</p>
			</div>
			<div id="buy-hint-{{location.id}}">
				<button class="normal one ui blue button" id="buy-hint-btn" (click)='showAreYouSureWindow(location.id)'>Koop een
					hint</button>
			</div>
		</div>
	</div>

	<!-- Modal on given answer -->
	<div class="modal right" id="right-{{location.id}}">
		<div class="bar">
			<p class="modal-title">Goed Gedaan!</p>
		</div>
		<div class="center">
			<p>Het andwoord wat JIJ hebt gegeven is helemaal goed. En dat is heel knap van jou 👌👍</p>
		</div>
		<div class="bottom">
			<button class="ui big button green btn" (click)="close(location.id)">*click* .... NOICE!</button>
		</div>
	</div>

	<div class="modal wrong" id="wrong-{{location.id}}">
		<div class="bar">
			<p class="modal-title">Helaas</p>
		</div>
		<div class="center">
			<p>Het andwoord wat JIJ hebt gegeven is helemaal fout.</p>
		</div>
		<div class="bottom">
			<button class="ui big button red flex-btn" (click)="close(location.id)">Verder</button>
			<button class="ui big button orange flex-btn" (click)="tryAgain(location)">Probeer opnieuw</button>
		</div>
	</div>
	<div class="feedback-window sure" id="sure-{{location.id}}">
		<div class="bar">
			<p class="feedback-title">Hint Kopen</p>
		</div>
		<div class="center">
			<p>Weet je zeker dat je een hint wilt kopen voor {{hint.cost}} punten bij vraag {{location.id}}</p>
		</div>
		<div class="bottom">
			<button class="ui big button green flex-btn" (click)="buyHint(location.id)">Ja</button>
			<button class="ui big button red flex-btn" (click)="closeModal(location.id, 'sure')">Nee</button>
		</div>
	</div>
</div>