<agm-map [latitude]="curLocation.x" [longitude]="curLocation.y" [zoom]="z">
    <agm-marker [latitude]="curLocation.x" [longitude]="curLocation.y" [iconUrl]="icons[0]"></agm-marker>

    <agm-marker *ngFor="let location of locations" [latitude]="location.x" [longitude]="location.y" [iconUrl]="icons[1]">
        <agm-circle
            [latitude]="location.x" 
            [longitude]="location.y"
            [radius]="location.radius"
        ></agm-circle>
    </agm-marker>
</agm-map>

<div *ngFor="let location of locations">
    <div id="popup-{{location.id}}" class="question-pop-up">
        <div class="question-popup-content">
            <p class="q-title" *ngIf="location.question.text != undifined">{{location.question.text}}</p>
        </div>
    <div>   
</div>

