.screen{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 10000;
}
#team-create-element{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 25%;
}
#team-create-element div{
    display: table;
    margin: 0 auto;
}
h2{
    display: table;
    margin: 0 auto;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Shrikhand', cursive;
    color: rgb(90, 90, 90)
}
#login-button{
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
}
#error_message{
    margin: 10px;
}
@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: purple;}
  50%  {background: blue;}
  75%  {background: orange;}
  100% {background: red;}
}