/* You can add global styles to this file, and also import other style files */
/* Make messages float on page */
.ui.message {
    position: absolute;
    width: 100%;
    top: 60px;
    z-index: 1000;
    margin: 0;
}

/* Suttle dropshadow */
.card-shadow, .ui.table.card-shadow {
    box-shadow: 0px 1px 2px #00000073;
}

/* timer style */
.timer {
	transition: color 1s;
}

.timer.blinker {
	animation-name: timer-blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes timer-blink {
	0% {
		color: black;
	}
	50% {
		color: var(--ui-red);
	}
	100% {
		color: black;
	}
}